<template>
	<div id="gg_map">
		<iframe :src="addressDefault" :width="width" :height="height" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</template>

<script type="text/javascript">
export default {
	props: ['width', 'height', 'addressDefault'],
};
</script>