<template>
	<GmapMap :center="center" :zoom="zoom" :style="{width: width + 'px', height: height + 'px'}" >
		<div v-if="markers.length > 0">
			<GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position"  />
		</div>

	</GmapMap>
</template>

<script type="text/javascript">
	export default {
		props: ['width', 'height', 'zoom', 'center', 'markers'],
	};
</script>