<template>
    <div class="container">
        <div>
            <p class="text">This is Google map</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Width</label>
                            <input type="number" class="form-control" v-model.number="width">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Height</label>
                            <input type="number" class="form-control" v-model.number="height">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Zoom</label>
                            <input type="number" class="form-control" v-model.number="zoom" min="0">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Lat</label>
                            <input type="number" class="form-control" v-model.number="center.lat">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Lng</label>
                            <input type="number" class="form-control" v-model.number="center.lng">
                        </div>
                    </div>

                    <!-- <ol id="address_lists">
                        <div v-if="address_lists.length > 0">
                            <li v-for="address_obj in address_lists">
                                <a @click="changeAdress(address_obj)">{{address_obj.name}}</a>
                            </li>
                        </div>
                        <div v-else>khong co gi de hien thi</div>
                    </ol> -->
                </div>
                <div class="col-md-6">
                    <!-- <ggmap :width="width" :height="height" :addressDefault="address"/> -->
                    <mapApi :style="{width: width + 'px', height: height + 'px'}" :zoom="zoom" :center="center" 
                            :markers="markers"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ggmap from '~/components/ggmap'
import mapApi from '~/components/mapApi'

export default {
    methods: {
        // changeAdress: function (address_obj) {
        //     this.address = address_obj.address
        // }
    },

    data() {
        return {
            width: 500,
            height: 500,
            center : {
                lat: 20.98314,
                lng: 105.808593
            },
            zoom: 15,
            markers : [
                {
                    name : 'SudoboGroup',
                    position : {
                        lat: 20.98314,
                        lng: 105.808593
                    }
                },
                {
                    name : 'Lăng Chủ tịch Hồ Chí Minh',
                    position : {
                        lat: 21.0367789,
                        lng: 105.8324507
                    }
                },
                {
                    name : 'Five Star Garden',
                    position : {
                        lat: 20.9857132,
                        lng: 105.810603
                    }
                },
                {
                    name : 'Trung Tâm Y Tế quận Thanh Xuân',
                    position : {
                        lat: 20.9879265,
                        lng: 105.8102223
                    }
                },
                {
                    name : 'Go to Home',
                    position : {
                        lat: 20.9492287,
                        lng: 105.8300467
                    }
                },
            ]
        }
    },

    components: {
        // ggmap,
        mapApi
    },

    // created() {
    //     if (this.address_lists.length > 0) {
    //         this.address = this.address_lists[0].address
    //     } else {
    //         alert('please set address')
    //     }
    // }
};
</script>

<style scoped>
.text {
    text-align: center;
    font-size: 2vw;
    color: #29c58d;
}

.col-md-6,
.col-md-4 {
    word-break: break-word;
}
</style>
